.bg-box {
    height: 1080px;
    width: 1920px;
    background-color: green;
    background-image: url(./green-png-44873.png), url(./lamp-png-34914.png), url(./ezhik.png), url(./poonchik.png), url(./dom.png);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y, no-repeat;
    background-position: 0px 760px, 0px 0px, 0px, 1820px, 635px;
    background-size: 400px, 50px, 100px, 100px, 700px;
  }